<h1 class="text-white text-center mt-2 mb-3">Space Shop</h1>

<div class="container">
  <div class="row mb-4 mt-4">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card" style="width: 17rem;">
        <img src="../../../assets/img/camisa1.jpg" style="height: 290px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Camisa You Planet</h5>
          <p class="card-text text-center">R$39,00</p>
          <p class="text-center">
            <button class="btn-primary px-3 pt-1 pb-1" style="border-radius: 5px;" id="" routerLink="/carrinho">Comprar</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card" style="width: 17rem;">
        <img src="../../../assets/img/camisa2.jpg"style="height: 290px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Camisa Vaza</h5>
          <p class="card-text text-center">R$39,00</p>
          <p class="text-center">
            <button class="btn-primary px-3 pt-1 pb-1" style="border-radius: 5px;" id="" routerLink="/carrinho">Comprar</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card" style="width: 17rem;">
        <img src="../../../assets/img/camisa3.jpg"style="height: 290px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Camisa Astronauta</h5>
          <p class="card-text text-center">R$39,00</p>
          <p class="text-center">
            <button class="btn-primary px-3 pt-1 pb-1" style="border-radius: 5px;" id="" routerLink="/carrinho">Comprar</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card" style="width: 17rem;">
        <img src="../../../assets/img/camisa4.jpg"style="height: 290px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Camisa Job Wanted</h5>
          <p class="card-text text-center">R$39,00</p>
          <p class="text-center">
            <button class="btn-primary px-3 pt-1 pb-1" style="border-radius: 5px;" id="" routerLink="/carrinho">Comprar</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
