@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Ajustes Globais */
* {
  font-family: 'Poppins', sans-serif;
  font-family: 'Share Tech Mono', monospace;
}

.cont-float {
  border: 2px solid white;
  padding: 20px;
  border-radius: 20px;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

